<?xml version="1.0"?>
<launch>

	<node name="drop_ac" pkg="controller_executor" type="forward_info_sensor.py" args="drop_ac /move_group_and_move_base/inputs/drop_ac --topic_type std_msgs.msg.Bool --sensor_topic /move_group_and_move_base/outputs/drop_status" />
	<node name="pickup_ac" pkg="controller_executor" type="forward_info_sensor.py" args="pickup_ac /move_group_and_move_base/inputs/pickup_ac --topic_type std_msgs.msg.Bool --sensor_topic /move_group_and_move_base/outputs/pickup_status" />
	<node name="drop" pkg="controller_executor" type="plan_manipulator_path.py" args="drop /move_group_and_move_base/outputs/drop --z_offset 0.0 --target_pose_topic '' --target_pose '[0.0, 0.15, 0.17, 0,1, 0, 0]' --group_name arm_1" />
	<group ns="move_group_and_move_base">
		<group ns="inputs">
			<node name="bottomLane_rc" pkg="controller_executor" type="is_robot_at_location.py" args="bottomLane_rc /move_group_and_move_base/inputs/bottomLane_rc --region_in_consideration bottomLane --robot_location_topic /robot_current_region" />
			<node name="rightGround_rc" pkg="controller_executor" type="is_robot_at_location.py" args="rightGround_rc /move_group_and_move_base/inputs/rightGround_rc --region_in_consideration rightGround --robot_location_topic /robot_current_region" />
			<node name="rightLane_rc" pkg="controller_executor" type="is_robot_at_location.py" args="rightLane_rc /move_group_and_move_base/inputs/rightLane_rc --region_in_consideration rightLane --robot_location_topic /robot_current_region" />
			<node name="object" pkg="controller_executor" type="get_tag.py" args="object /move_group_and_move_base/inputs/object --tag_no 0 --tag_found_topic /tag_found --sensor_topic /tag_detections" />
			<node name="leftGround_rc" pkg="controller_executor" type="is_robot_at_location.py" args="leftGround_rc /move_group_and_move_base/inputs/leftGround_rc --region_in_consideration leftGround --robot_location_topic /robot_current_region" />
			<node name="topLane_rc" pkg="controller_executor" type="is_robot_at_location.py" args="topLane_rc /move_group_and_move_base/inputs/topLane_rc --region_in_consideration topLane --robot_location_topic /robot_current_region" />
			<node name="leftLane_rc" pkg="controller_executor" type="is_robot_at_location.py" args="leftLane_rc /move_group_and_move_base/inputs/leftLane_rc --region_in_consideration leftLane --robot_location_topic /robot_current_region" />
		</group>
		<group ns="outputs">
			<node name="topLane" pkg="controller_executor" type="robot_navigation.py" args="topLane /move_group_and_move_base/outputs/topLane --input_namespace /move_group_and_move_base --region_list topLane bottomLane leftLane rightLane leftGround rightGround --occupied_thresh 70 --next_region topLane --json_file /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/lab_loop.json --x_trans -0.82 --y_trans -1.25 --image_basename lab_loop --scale 0.005 --free_thresh 20 --rot 0 --image_folder /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/" />
			<node name="holdingObject" pkg="controller_executor" type="dummy_actuator.py" args="holdingObject /move_group_and_move_base/outputs/holdingObject " />
			<node name="bottomLane" pkg="controller_executor" type="robot_navigation.py" args="bottomLane /move_group_and_move_base/outputs/bottomLane --input_namespace /move_group_and_move_base --region_list topLane bottomLane leftLane rightLane leftGround rightGround --occupied_thresh 70 --next_region bottomLane --json_file /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/lab_loop.json --x_trans -0.82 --y_trans -1.25 --image_basename lab_loop --scale 0.005 --free_thresh 20 --rot 0 --image_folder /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/" />
			<node name="leftGround" pkg="controller_executor" type="robot_navigation.py" args="leftGround /move_group_and_move_base/outputs/leftGround --input_namespace /move_group_and_move_base --region_list topLane bottomLane leftLane rightLane leftGround rightGround --occupied_thresh 70 --next_region leftGround --json_file /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/lab_loop.json --x_trans -0.82 --y_trans -1.25 --image_basename lab_loop --scale 0.005 --free_thresh 20 --rot 0 --image_folder /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/" />
			<node name="stop" pkg="controller_executor" type="set_velocity.py" args="stop /move_group_and_move_base/outputs/stop --publish_topic /cmd_vel" />
			<node name="rightLane" pkg="controller_executor" type="robot_navigation.py" args="rightLane /move_group_and_move_base/outputs/rightLane --input_namespace /move_group_and_move_base --region_list topLane bottomLane leftLane rightLane leftGround rightGround --occupied_thresh 70 --next_region rightLane --json_file /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/lab_loop.json --x_trans -0.82 --y_trans -1.25 --image_basename lab_loop --scale 0.005 --free_thresh 20 --rot 0 --image_folder /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/" />
			<node name="rightGround" pkg="controller_executor" type="robot_navigation.py" args="rightGround /move_group_and_move_base/outputs/rightGround --input_namespace /move_group_and_move_base --region_list topLane bottomLane leftLane rightLane leftGround rightGround --occupied_thresh 70 --next_region rightGround --json_file /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/lab_loop.json --x_trans -0.82 --y_trans -1.25 --image_basename lab_loop --scale 0.005 --free_thresh 20 --rot 0 --image_folder /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/" />
			<node name="leftLane" pkg="controller_executor" type="robot_navigation.py" args="leftLane /move_group_and_move_base/outputs/leftLane --input_namespace /move_group_and_move_base --region_list topLane bottomLane leftLane rightLane leftGround rightGround --occupied_thresh 70 --next_region leftLane --json_file /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/lab_loop.json --x_trans -0.82 --y_trans -1.25 --image_basename lab_loop --scale 0.005 --free_thresh 20 --rot 0 --image_folder /home/catherinewong/LTLROS_ws/src/controller_executor/examples/move_group_and_move_base/regions/" />
			<node name="sawObject" pkg="controller_executor" type="dummy_actuator.py" args="sawObject /move_group_and_move_base/outputs/sawObject " />
		</group>
	</group>
	<node name="pickup" pkg="controller_executor" type="reach_tag_and_plan_manipulator_path.py" args="pickup /move_group_and_move_base/outputs/pickup --target_tag_no 0 --group_name arm_1 --target_pose '[0.45, 0.0, 0.10, 0,1, 0, 0]' --sensor_topic /tag_detections --velocity_topic /cmd_vel" />
</launch>
